<!DOCTYPE html>
<html ng-app="webYogAssignment">
  <head>
    <title>FrontEndAssignment</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href='/static/css/home.css'/>
    <!-- <script type="text/javascript" src="/static/js/home.js"></script> -->
  </head>
  <body class="light-primary-color">
    <ul style="margin-top:5px;">
        <li class="headBoxlist" ><div class="inboxst"><a class="inancor" href="/#/dashboard/messages">Inbox</a></div></li>
    </ul>
          <!-- <li class="headBoxlist"><a href="/#/dashboard/messages">back</a></li> -->
          <!-- <div class="head"></div> -->
<!-- <li class="headBoxlist" id="searchBox"><i class="glyphicon glyphicon-search"><input type ="text" placeholder="Search"/></i></li> -->
        <!-- </div> -->
    <div ng-view></div>
  </body>
  <script type="text/javascript" src="/static/js/angular.min.js"></script>
  <script type="text/javascript" src="/static/js/angular-route.js"></script>
  <script type="text/javascript" src="/static/js/angular-touch.js"></script>
  <script type="text/javascript" src='/static/js/home.js'></script>
  <script type="text/javascript" src='/static/js/services.js'></script>
  <script type="text/javascript" src="/static/js/controllers.js"></script>
</html>